.browser-files {
  position: relative;
  flex: 1 1 75%;
  padding: 0 5px;


  @media (max-width: 767px) {
    flex: 1 1 100%;
  }

  &__inner {
    
    background: white;
    margin-right: 15px;
    min-height: calc(100vh - 180px);
    &._tiles{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-start;
      &::after {
        content: "";
        flex: 1 1 auto;
      }
    }
    @media (max-width: 767px) {
        margin-right: 0;
    }
  }

  &__element {
    word-wrap: break-word;
    overflow: hidden;

    &._active {
      background: rgba(233, 235, 235, 0.5);

    }

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background: rgba(233, 235, 235, 0.5);
      }
    }

    cursor: pointer;
    display: flex;
    align-items: center;
    
    &._rows {
      justify-content: flex-start;
      padding: 12px 15px;


      @media (max-width: 767px) {
        padding: 8px 15px;
      }
    }

    &._tiles {
      flex: 0 1 calc(10% - 10px);
      width: 75px;
      height: 80px;
      padding: 5px;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      @media (max-width: 1440px) {
        flex: 0 1 calc(20% - 10px);
      }
      @media (max-width: 991px) {
        flex: 0 1 calc(25% - 10px);
      }
      @media (max-width: 767px) {
        flex: 0 1 calc(33.3% - 10px);
      }
    }
  }

  &__name {
    overflow: hidden;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;
    height: 25px;

    &._tiles{
      margin: 5px 0 0 0;
      width: 75px;
    }

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    margin-right: 15px;

    min-height: calc(100vh - 180px);
  }

  &__loading {

    z-index: 1000;
    width: calc(100% - 20px);
    height: calc(100% - 50px); 
    position: absolute;
    top: 50px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__empty-title {
    margin-top: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-left: 15px;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__ring {
    margin-top: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  &__ring:after {
    content: " ";
    display: block;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    border: 6px solid #fff;
    border-color: white transparent white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &__icon-wrapper {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      min-width: 25px;
      min-height: 25px;
    }
  }
}

.header-browser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-right: 14px;
  padding: 6px;
  border-radius: 15px;
  margin-bottom: 8px;

  @media (max-width: 767px) {
      margin-right: 0;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__button {
    &:disabled {
      background: rgb(200, 200, 200);

    }

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 5px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    background: rgb(230, 230, 230);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &._left {
      transform: rotate(-90deg);
      padding-top: 10px;
    }

    &._right {
      transform: rotate(90deg);
      padding-top: 10px;
    }
  }

  &__view-mods{
    display: flex;
    margin-right: 5px;
  }

  &__view-mode{
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:not(:last-child){
      margin-right: 10px;
    }
    
  }
  &__view-icon{
    filter: grayscale(100%);
  }
}