.browser-files{
  flex: 1 1 75%;
  padding-right: 5px;
  &__inner{
    background: white;
    margin-right: 20px;
  }
  &__element{
    &._active{
      background: rgba(233, 235, 235, 0.5);

    }
    padding: 12px 15px;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover{
          background: rgba(233, 235, 235, 0.5);
        }
    }
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }
    &__name{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-left: 10px;
    }

  &__icon-wrapper{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}