@import '../../styles/Themes.scss';

.button {

  @media (max-width: 767px) {
    font-size: 16px;
    padding: 6px 15px;
  }

  user-select: none;
  transition: all 0.3s ease 0s;
  @include themify($themes) {
    border: 3px solid themed('mainColor');
    color: themed('mainColor');
    @media (any-hover: hover) {
      &:hover {
        background: themed('mainColor');
        color: themed('secondColor');
      }
    }
  }
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  position: relative;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  background: none;



  padding: 8px 30px;


}