.browser-buttons {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  word-wrap: break-word;

  @media (max-width: 767px) {
    flex: 1 1 calc(100% - 40px);
    flex-direction: row;
    justify-content: space-between;
    min-height: 160px;
    padding: 10px 10px 0 10px;

  }

  &__top {
    min-height: 130px;
    border-bottom: 3px solid #B3B3B3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex: 1 1 30%;
      text-align: right;
      border-bottom: none;
      border-right: 3px solid #B3B3B3;
      padding-right: 13px;
      justify-content: flex-start;
    }
  }

  &__bottom {

    border-top: 3px solid #B3B3B3;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__choose {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__choose-title {
    user-select: none;
    margin-bottom: 18vh;

    @media (max-width: 1440px) {
      font-size: 26px;
    }

    @media (max-width: 991px) {
      font-size: 24px;
      text-align: center;
    }

    @media (max-width: 767px) {
      margin-bottom: 4vh;
    }
  }


  &__buttons {
    flex: 1 1 auto;

    @media (max-width: 767px) {

      margin-left: 10px;
      flex: 1 1 70%;

    }
  }

  &__buttons-bottom {

    @media (max-width: 767px) {
      display: none;
    }
  }


  &__upload-mobile {
    width: calc(100% - 10px);
    display: flex;
    justify-content: center;
    padding: 5px 5px 10px 5px;
    align-items: center;

    @media (min-width: 767px) {
      display: none;
    }
  }


  &__button {
    user-select: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    background: none;
    border: none;
    margin: 7.5px 0;

    &:disabled {
      cursor: default;
      color: rgb(130, 130, 130);
    }

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
      margin: 0px;

      &:not(:last-child) {
        margin: 0 0 2.5px 0;
      }
    }
  }

  &__name {
    user-select: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    width: 20vw;

    @media (max-width: 767px) {
      width: 25vw;
      line-height: 20px;
      font-size: 14px;
    }
  }

  &__type {
    user-select: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #929292;

    margin: 7.5px 0;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__create {
    user-select: none;
    transition: all 0.3s ease 0s;
    display: block;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    margin-top: 10px;
    border: none;
    background: none;

    &:not(:last-child) {
      margin-right: 7.5px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 16px;
      width: calc(25vw - 20px);
    }
  }
}

.browser-delete {
  margin-top: 10px;
  min-width: 360px;

  @media (max-width: 767px) {
    min-width: 260px;
  }
}