// @import '../../styles/Themes.scss';

$themes: (
  light: (
    mainColor: #000,
    secondColor: #fff,
    windowBackground: rgba(235, 235, 235, 0.5),
    background: rgba(255, 255, 255, 1),
    disabled:rgb(130, 130, 130),
    invert: 0%
  ),
  dark: (
    mainColor: #fff,
    secondColor: #000,
    background: rgb(80, 80, 80),
    windowBackground: rgba(30, 30, 30, 0.5),
    disabled:rgb(190, 190, 190),
    invert: 90%
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
   }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
