@import '../../styles/Themes.scss';

.wrapper {
  min-width: 100vw;
  min-height: calc(100vh - 60px);

  @media (max-width: 767px) {
    min-height: calc(100vh - 80px);
    padding: 10px 0;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  &__bg {
    filter: invert(1);
    transition: all 0.3s ease 0s;
    user-select: none;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    &._active{
      opacity: 1;
    }
  }

}