@import '../../../../styles/Themes.scss';

.browser-create {

  margin-top: 10px;
  min-width: 360px;
  @media (max-width: 767px) {
    min-width: 260px;
  }

  &__option {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:not(:last-child){
        margin-bottom: 10px;
    }
    

  }

  &__icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    @include themify($themes) {
      filter: invert(themed('invert'))
    }
  }

  &__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-left: 10px;
    @include themify($themes) {
      color: themed('mainColor')
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}