@import '../../styles/Themes.scss';

.window {

  background: rgba(233, 235, 235, 0.5);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);

  border-radius: 20px;


  width: calc(100vw - 250px);

  @media (max-width: 1440px) {
    width: calc(90vw - 50px);
  }

  @media (max-width: 991px) {
    width: calc(90vw - 20px);
  }

  &__title {
    
    transition: all 0.3s ease 0s;
    user-select: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @include themify($themes) {
      color: themed('mainColor')
    }
    text-align: center;
    padding: 10px 0;
  }
}