.buttons-prompt {

  position: relative;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;



  &__button {
    &._red{
      background: rgb(218, 30, 30);
    }
    flex: 1 1 calc(50% - 10px);
    background: #000000;
    border-radius: 20px 0px;

    @media (max-width: 767px) {
      font-size: 17px;
      flex: 1 1 100%;
      margin-bottom: 5px;
      padding: 10px 0;
    }

    @media (min-width: 767px) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    cursor: pointer;
    text-align: center;
    outline: none;
    transition: all 0.1s ease 0s;
    position: relative;

    color: black;
    background: black;

    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: none;
    
    color: #FFFFFF;
    padding: 12px 0;
  }
}