@import '../../../styles/Themes.scss';

.buttons-prompt {

  position: relative;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;



  &__button {
    user-select: none;
    transition: all 0.3s ease 0s;


    flex: 1 1 calc(50% - 10px);
    
    border-radius: 20px 0px;

    @media (max-width: 767px) {
      font-size: 17px;
      flex: 1 1 100%;
      margin-bottom: 10px;
      padding: 10px 0;
    }

    @media (min-width: 767px) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    cursor: pointer;
    text-align: center;
    outline: none;
    position: relative;

    @include themify($themes) {
      background: themed('mainColor');
      color: themed('secondColor');
      &:disabled {
        cursor: default;
        filter: invert(30%);
      }
      &._red {
        background: rgb(218, 30, 30);
        color: white;
      }
    }

    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: none;

    padding: 12px 0;
  }
}