.form-auth {
  margin-top: 40px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
  &__inputs {
    margin-bottom: 40px;
    @media (max-width: 1440px) {
      margin-bottom: 30px;
    }
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__input {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @media (max-width: 1440px) {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width: 991px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    margin-top: 40px;
    @media (max-width: 1440px) {
      margin-top: 30px;
    }
    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }

  &__link-button {
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
  }
}